html,body{

margin:0;
padding:0;
border:0;
width:100%;
height:100%;
font-family: 'Ubuntu', sans-serif;
/*overflow-y: scroll;*/
}
body{
	display:flex;
	flex-flow:column nowrap;
	
}
body>header{
	display:flex;
	justify-content:center;
	background-color:#d3d3d3;
}

body>main{
/* 	display:flex;
	flex-flow:column nowrap; */
	position:relative;
	width:100%;
	flex:1;
	background-color:#eeeeee;
		
}

body>footer{
	display:flex;
	justify-content:space-around;
	background-color:#d3d3d3;
}

#credits{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	white-space: pre-wrap;

}


.your_game_here{
	position:relative;
	width:95vmin;
	height:95vmin;
	min-width:120px;
	min-height:120px;
	margin:2rem auto 2rem auto;
/*	background-color:#FFFFFF;
	border-radius:1%;
	border:1px solid #FF0000;
	/**/
}